.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.contact__title {
  font-size: var(--size-2xl);
  color: var(--clr-light);
  text-transform: capitalize;
}

.contact__description {
  font-size: var(--size-sm);
  color: var(--clr-slate600);
  max-width: 60ch;
}

.contact__btn {
  font-size: var(--size-sm);
}

/* xs */
@media (min-width: 475px) {
  .contact {
    gap: 1.5rem;
  }

  .contact__title {
    font-size: var(--size-3xl);
  }

  .contact__description {
    font-size: var(--size-base);
  }

  .contact__btn {
    font-size: var(--size-base);
  }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .contact__title {
    font-size: var(--size-4xl);
  }

  .contact__description {
    font-size: var(--size-lg);
  }

  .contact__btn {
    font-size: var(--size-lg);
  }
}

/* xl */
@media (min-width: 1280px) {
  .contact {
    gap: 2rem;
  }

  .contact__title {
    font-size: var(--size-5xl);
  }

  .contact__description {
    font-size: var(--size-xl);
  }

  .contact__btn {
    font-size: var(--size-xl);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
